@import url('https://fonts.googleapis.com/css2?family=Acme&family=Chivo+Mono:wght@300&family=Dancing+Script:wght@500&family=Open+Sans&display=swap');
body {
    margin:0px;
    background-color: rgb(32, 34, 55);
}

#breaker-animated {
    color:white;
    text-align: center;
    margin: 0;
    padding: 0;
    width:auto;
    position:relative;
    height:50px;
    overflow: hidden;
    background-color: rgb(17, 17, 17);
}
.nav {
    border:1px solid rgb(34, 37, 71);
    border-top:1px solid rgb(255, 255, 255);
    border-width:3px;

}
ul {
    text-align: center;
    list-style-type: none;
    text-transform: uppercase;

}

ul li{
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
}

li a {
    font-family: 'Acme', sans-serif;
    text-decoration: none;
    color:rgb(228, 232, 255);
    transition: color 0.2s ease-out 50ms;
    
}
li a:hover {
    color:rgb(47, 47, 220);
}
.banner {
    background: rgb(14,55,158);
    background: linear-gradient(0deg, rgba(14,55,158,1) 0%, rgba(5,5,5,1) 100%);
    margin: 0;
    padding: 0;
    border-bottom:1px solid rgb(255, 255, 255);
    border-width: 3px;
    overflow: hidden;
}
.banner h1 {
    color:white;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Dancing Script', cursive;
    font-size:35px;
}

.hr-nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.hr-nav {
    border:1px solid ;
    border-image:linear-gradient(21deg,rgb(19, 92, 250),rgb(0, 44, 80))1;
}

.active a {
    text-decoration-line:underline;
    text-decoration-color: rgb(23, 23, 240);
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
}


h1 {
    text-align: center;
    color:white;
}
p{
    text-align: center;
    color:white;
}

.hr-nav1 {
    border:1px solid ;
    border-image:linear-gradient(21deg,rgb(19, 92, 250),rgb(0, 44, 80))1;
}
.hr-nav2 {
    border:1px solid ;
    border-image:linear-gradient(21deg,rgb(0, 44, 80),rgb(19,92,250))1;
}


.activity {
    background-color: rgb(37, 37, 65);
    border-radius:12px;
    height:205px;
    width:60%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

.date {
    font-weight: 300;
}



.container {
    margin:5px;
}

.animated {
    align-items: center;
    position:absolute;
    margin-left:-90px;
}

.wrap {
    position:relative;
}

.projects a {
    color:rgb(109, 156, 255);
    text-decoration: none;
    font-size:21px;
    transition: color 0.2s ease-out 50ms;

}

.projects a:hover{
    color:rgb(82, 82, 255);
}


p button {
    background-image:url("assets/img/htb.png");
    width:60%;
    height:350px;
    border-color:blue;
    border-radius: 4px;
}

.separator {
    margin: 0 auto;
    width: 20%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.cody {
    background-color: rgb(52, 52, 52);
    font-style: italic;
}

img {
    max-width: 80%;
    height: auto;
    width: auto\9; /* ie8 */
}

#htb{
    background-color:rgb(41, 41, 75);
    width:80%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    height:160px;
    border-radius: 5px;
}

#htb li{
    color:rgb(30, 255, 0);
}

p{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Roboto Mono', monospace;
}

.container {
    background-color:rgb(35, 35, 66);
    width:70%;
    margin-left:auto;
    margin-right:auto;
}